html{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: hsl(270, 20%, 96%);
    position: relative;
}

.main{
    max-width: 1440px;
    margin:  0 auto;
}
.container{
    width: 70%;
    height: 100vh;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.outerlayer{
    width: 300px;
    height: 590px;
    padding: 15px;
    background: white;
    border-radius: 30px;
    box-shadow: rgb(219, 217, 217) 5px 5px 15px;
}
.innerlayer{
    background: hsl(270, 20%, 96%);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
header{
    padding: 30px 10px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
}
.top{
    background: white;
    height: 20px;
    width: 130px;
    position: absolute;
    left: 70px;
    border-radius: 0 0 15px 15px;
    z-index: 1;
    color: transparent;
}
.avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.name h3{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 3px;
}
.name p{
    font-size: 10px;
    color: hsl(276, 100%, 81%);
}
.menu{
    margin-left: auto;
}
.menu img{
    height: 12px;
}
.msg-scrn{
    font-size: 10px;
    padding: 10px;
}
p.received{
    background-color: hsl(270, 8%, 91%);
    color: hsl(276, 55%, 52%);
    padding: 10px;
    margin: 5px 0 5px;
    width: 160px;
    border-radius: 10px 10px 10px 3px;
}
.sent{
    margin: 10px 0;
}
.images{
    display: flex;
    justify-content: end;
        margin: 5px 0 5px;
}
.images img{
    width: 50px;
    margin-left: 10px;
    border-radius: 15px;

}
.text{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
}
.text p{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    margin: 5px 0 5px;
    border-radius: 10px 10px 3px 10px;
    box-shadow: 0 5px 5px rgb(231, 231, 231);
    color: grey;
}
.appointment p{
    padding: 10px;
    margin: 5px 0 5px;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 3px;
    width: 190px;
    color: white;
    font-weight: 300;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cost{
    font-weight: 500;
    font-size: 16px;
    margin-left: auto;
}
input[type="radio"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.2em;
    height: 1.2em;
    border: 0.2em solid hsl(289, 100%, 72%);
    border-radius: 50%;
}
input[type="text"] {
    padding: 12px;
    border: none;
    margin: 5px 0 5px;
    font-size: 0.9em;
    width: 100%;
    border-radius: 25px;
}
.txt-type{
    position: relative;
}
.txt-type img{
    background-color: rgb(20, 19, 19);
    position: absolute;
    top: 25%;
    right: 8px;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    transform: rotate(180deg);
}
.text-content{
    width: 40;
}
.text-content h1{
    font-size: 2.5rem;
    margin: 30px 0;
}
.text-content p{
    font-size: 1.2rem;
    color:  hsl(270, 7%, 64%);
    font-weight: 300;
    line-height: 1.5;
}
.bgsections{
    position: absolute;
}
.leftbar{
    height: 550px;
    width: 550px;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    background-image: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    left: -200px;
}

@media screen and (max-width: 950px) {
    .container{
        padding: 10vh 0;
        flex-direction: column;
        height: auto;
    }
    .text-content{
        width: 100%;
        text-align: center;
    }
    .leftbar{
        height: 550px;
        width: 400px;
    }
}